*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrapper{
    width: 100vw;
    height: 100vh;
    margin: auto;
    overflow: hidden;
    /* background: url("./img/particles-2.jpg"); */
    background-repeat: no-repeat;
    background-size: cover;
    background: #000;
    /* background: linear-gradient(#e285, #28e5);  */
    /* particles-1 */
}

#canvas{
    /* background: #fff; */
}